body {
  height: 100vh;
  background: linear-gradient(to top, #000000, #076465);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.header {
  display: flex;
  width: 43%;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.name {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  margin-right: 30px;
}

.counter {
  background: #076465;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px #252525;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  background: linear-gradient(to top, #000000, #076465);
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px;
  gap: 15px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 12px 0px #252525;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border-style: none;
  background: linear-gradient(150deg, #5ca4a7, #076465);
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 5px 0px #252525;

  &:hover {
    transform: scale(1.05);
  }
}

.card--active {
  font-size: 55px;
  background: linear-gradient(150deg, #ed9954, #52472e);
  transition: none;
  transform: scale(1.05);
}

.card--matched {
  font-size: 75px;
  background: linear-gradient(150deg, #ccb494, #ed9954);
  opacity: 100%;
  transition: none;
  &:hover {
    transform: none;
  }
}

.footer {
  display: flex;
}

#new-game {
  background: linear-gradient(150deg, #5ca4a7, #076465);
  border-style: none;
  border-radius: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 23px;
  color: #000000;
  padding: 10px 15px 7px 15px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.03);
  }

  &:active {
    background: linear-gradient(150deg, #076465, #000000);
    transform: scale(1);
  }
}
